<h1><%=  @price %>€</h1>


<hr>
<%= @lig1 %>
<%= @lig2 %>
<%= @lig3 %>
<%= @lig4 %>
<%= @lig6 %>
<%= @lig5 %>
<%= @remarque %>
<hr>

<%= form_for :anything, url: "/orders", method: :printi do |f| %>

 <%= button_to 'Invite a user', method: :printi  %>
 <% end %>

<%= link_to "Nouvelle commande", orders_path, class: "btn btn-primary btn-lg btn-block" %>